* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f4f8; */
    background-image: url("../images/welcome-page-img.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

.container {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #294467;
    border-radius: 8px;
    box-shadow: 6px 10px 10px  rgba(128, 122, 122, 0.2);
    text-align: center;
    color: aliceblue;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffffff;
}

label {
    font-size: 1.2em;
    color: #666;
}

p {
    margin-top: 1em;
    margin-bottom: 0.1em;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ffffff;
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #70add8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b8bba;
}

#responseOutput {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}